<mat-card>
    <mat-card-title>Home</mat-card-title> <br>
    <mat-divider></mat-divider><br>    
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Bem Vindo!</li>
</ol>

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

    <div class="zoom pedidos">
        <div class="pedidos" mat-ripple routerLink="/lancamento/principal">
        </div>
    </div>

    <div class="zoom producao">
        <div class="producao" mat-ripple routerLink="/produtos/principal">
        </div>
    </div>

    <div class="zoom status">
        <div class="status" mat-ripple routerLink="/produtos/principal">
        </div>
    </div>
</div>
</mat-card>
